body{
  background: url("../img/back.jpg");

}
.title{
  position: absolute;
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  margin-left: 50%;
  left: -75px;
  text-align: center;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -200px;
}
canvas{
  background-color: #212121;
}
